.Navbar_root__2kbI9 {
  position: sticky;
  top: 0;
  z-index: 40;
  transition-property: all;
  box-shadow: 0 30px 30px rgba(0,0,0,.02), 0 0 8px rgba(0,0,0,.03), 0 1px 0 rgba(0,0,0,.05);
  background-color: #fff;

  .username {
    margin: auto;
    margin-right: 0;
    text-decoration: underline;
    margin-top: 3px;
  }

  .Navbar_logo__26S5Y {
    cursor: pointer;
  }
  a {
      color: inherit;
      text-decoration: inherit;
  }
  a {
      background-color: transparent;
  }

  .UserNav_root__343id {
    position: relative;
  }

  .Navbar_link__3Blki {
    outline-style: none ;
    outline-width: 0;
    display: inline-flex;
    align-items: center;
    padding: 0 16px;
    font-size: 16px;
    color: #000;
    line-height: 1.5rem;
    font-weight: 500;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: 75ms;
    cursor: pointer;
  }
  .logout-link {
    color: #333;
    cursor: pointer;
    display: flex;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    line-height: 1.5rem;
    font-weight: 500 !important;
    align-items: center;
    text-transform: capitalize !important;
    &:focus,
    &:focus-visible,
    &:active {
      outline: 2px solid rgba(0, 0, 0, 0.2);
      outline-offset: 2px;
    }
  }
}

@media only screen and (max-width: 750px) {
  .Navbar_root__2kbI9 {

    .Navbar_link__3Blki {
      padding: 0 !important;
      font-size: 12px;
    }
  }
}

.search-button{
  &::before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle
  }
}